*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(154, 179, 189);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    padding: 20px;
    border-radius: 10px;
    background: rgb(41, 44, 43);
}
.Calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255,0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: rgb(222, 226, 230);
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: rgb(178, 200, 206);
    color: rgb(15, 16, 17);
}
form input.equal{
    width: 145px;
}
form input.del{
    width: 145px;
}
form input.mod{
    width: 145px;
}